{% extends 'base.html' %}
{% load static %}

{# ======================== TITLE BLOCK ======================== #}
{% block title %}{{ memorial.first_name }} {{ memorial.last_name }} - Memorial{% endblock %}

{# ======================== MAIN CONTENT BLOCK ======================== #}
{% block content %}
  {# ------------------------ Custom CSS ------------------------ #}
<link rel="stylesheet" href="{% static 'css/memorials/memorial_detail.css' %}">

  {# ------------------------ Flash Messages ------------------------ #}
  {% if messages %}
    <div class="container mt-3">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" 
             role="alert">
          {{ message }}
          <button type="button" 
                  class="btn-close" 
                  data-bs-dismiss="alert" 
                  aria-label="Close">
          </button>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {# ------------------------ Memorial Banner ------------------------ #}
  {% if memorial.banner_type == 'image' and memorial.banner_value %}
    <div id="memorialBanner" 
         class="banner banner-image"
         data-memorial-id="{{ memorial.pk }}"
         style="background-image: url('{% static memorial.banner_value %}');">
  {% elif memorial.banner_type == 'color' and memorial.banner_value %}
    <div id="memorialBanner" 
         class="banner banner-color"
         data-memorial-id="{{ memorial.pk }}"
         style="background-color: {{ memorial.banner_value }};">
  {% else %}
    <div id="memorialBanner" 
         class="banner banner-default"
         data-memorial-id="{{ memorial.pk }}">
  {% endif %}
    </div>

{# ------------------------ Profile Picture Section ------------------------ #}
  <div id="pfpUploadForm">
    <div class="profile-pic-wrapper upload-wrapper" 
         title="profile picture" 
         data-bs-toggle="modal" 
         data-bs-target="#profilePictureModal">
      {% if memorial.profile_public_id %}
        <img src="https://res.cloudinary.com/neverforgotten/image/upload/{{ memorial.profile_public_id }}.png?{% now 'U' %}" 
             alt="Profile Picture of {{ memorial.first_name }}" 
             class="profile-image-clickable"
             data-original-src="https://res.cloudinary.com/neverforgotten/image/upload/{{ memorial.profile_public_id }}.png">
      {% else %}
        <img src="{% static 'images/nf.png' %}" 
             alt="Default memorial image" 
             class="profile-image-clickable"
             data-original-src="{% static 'images/nf.png' %}">
      {% endif %}
    </div>
  </div>

  {# ------------------------ Profile Picture Modal ------------------------ #}
  <div class="modal fade" 
       id="profilePictureModal" 
       tabindex="-1" 
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content border-0 bg-transparent">
        <div class="modal-body text-center p-0">
          <button type="button" 
                  class="btn-close btn-close-white position-absolute top-0 end-0 m-2" 
                  data-bs-dismiss="modal" 
                  aria-label="Close">
          </button>
          {% if memorial.profile_public_id %}
            <img src="https://res.cloudinary.com/neverforgotten/image/upload/{{ memorial.profile_public_id }}.png" 
                 class="img-fluid rounded" 
                 alt="Enlarged profile picture of {{ memorial.first_name }}">
          {% else %}
            <img src="{% static 'images/nf.png' %}" 
                 class="img-fluid rounded" 
                 alt="Enlarged default memorial image">
          {% endif %}
        </div>
      </div>
    </div>
  </div>


{% endblock %}


